.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font{
  font-family: verdana, arial, helvetica, sans-serif;
}

.rate{
  /* width:500px;
            height:1900rem;
            position: fixed;
            background-color: blue;
            top: 50%;
            left: 50%;
            margin-top: -400px;
            margin-left: -400px; */
            justify-content: center; 
            background-color:#ffffff;text-align:center;padding:3px;
}
.rate1{
  padding-top: 2rem;
   padding-left: 2rem; 
   padding-bottom: 0rem;
    width:40%;
    font-weight: thin;   
    color: #08A6B3;
}

.rate2{
 float:left;
}

.rate3{
  font-weight: lighter; 
  background-color: #fbfdff; 
  padding:5rem;
   padding-left: 6.5rem; 
   font-size:13px;
   color: black;
}

.pic{
  float: right;
   width: 35%;  
    margin-top: -213px;
}

.how{
  padding:1rem; 
  text-align:center;
   clear:both;
   color:black;
}

.how2{
  font-size:13px;
}

.terrible{
  padding:1rem; 
  text-align:center;
}

.terrible1{
  float: left; width: 15%;  padding:1rem; padding-left: 15px;
}

.bad{
  float: left; width: 15%;  padding:1rem;
}

.kind{
  font-size:13px; 
  clear:both; 
  padding: 2rem;
}

.please{
  padding-bottom: 4rem;
   padding-top: 1rem;
    width: 85%; 
  height:160px;
   box-sizing: border-box; 
   border: none; 
   background-color: #F1F1F1;
}

.text{
  text-align:center;
}

.submit{
  justify-content: center;
   background-color:#08A6B3;
   color: white; 
   width: 170px;
    padding:1rem;
    height: 50px;
     border: none; 
     border-radius: 10px;
}

.img{
  width: 40%;
}

.ah{
  width: 70%;
  border: none;
}